mixin link(src, name)
  li
    a(href='#' + src)=src

mixin list(data, className)
  if(data)
    ul(class=className)
      each item in data
        li= item

mixin icon(name)
  - nname = name.toLowerCase()
  - skall = (nname in iconMap) ? iconMap[nname] : nname + '-plain'
  - if(svgIcons.includes(nname))
    img(src='/img/icons/' + nname + '.svg' alt=name title=name).icon
  - else
    i(class='devicon-' + skall alt=name title=name).icon

mixin iconlist(icons)
  .skillz
    ul
      each item in icons
        li
          +icon(item)
    br.clear

mixin analytics(ID)
  script(async src="https://www.googletagmanager.com/gtag/js?id=UA-143397962-1")
  script.
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-143397962-1');
